.my_table_style {
    border: 2px solid #F5F5F5; 
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    /*display: block;*/

    /*margin: 10px 20px;*/
    /*text-align: center;*/
    margin-top: 50px;
}
